@slb-planck-ui:registry=http://cn0005prism020:8081/artifactory/api/npm/npm-repo/
//http://cn0005prism020:8081/artifactory/api/npm/npm-repo/:_password=QVAzd1plZkxvU0FzNGs1dHFFb2liZ1ltUFFU
//http://cn0005prism020:8081/artifactory/api/npm/npm-repo/:username=admin
//http://cn0005prism020:8081/artifactory/api/npm/npm-repo/:email=SChang8@slb.com
//http://cn0005prism020:8081/artifactory/api/npm/npm-repo/:always-auth=true

cafile=ca-bundle.crt
strict-ssl=true

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 12/17/2017.
; begin auth token
//slb-swt.pkgs.visualstudio.com/_packaging/ng2-geotoolkit/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJlZDdmY2M5YS1jM2IwLTQ4OGUtYjI5Yy1iNjFkZDU1ZGIyOTQiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiYTkwYTExNzgtNWUzYi00YWM0LWEyYWEtMzIxZTEyMzAzNDAwIiwic2lkIjoiMzAzZjBhZDctYjkzYS00YTE0LWExNGYtNGE3ODg4NjQ3YjJhIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286NjBlYWU1ZjktM2U0ZC00YzhhLWE1NjAtODljNDYwZWZiNzMyIiwibmJmIjoxNTA1NzI3MTI1LCJleHAiOjE1MTM1MDMxMjR9.Skr0ShKoMGNWj6DlOOc8Doxbk2oa9I71NpKZVBu5jgnGHoMvGr6jKmYApZZBs0zLR53HUc-YozjddRRo6Y9xd7-t8zxaRHkQYji5CxWSkFZB9HAeGnVmGi5aoE1TMpcH6FBqQoplx-Ozc52uf0bk2sE-uMEAtxh4wcpZaWkJHC6H8Vw8opU4WvkQhbi_eSQzYQ5hWZdjaznFsxB7NeyyjvL96th3Sxz6MlBf2A8z732w0wXyjKtpuNNzYMoUZsJEHBO7Sbn41eufwN2CBhbMvvVZE2KdSP1jmt0s_0Y09ZlpiBakTiIe6CML0sL3M8n2h2txIjdLxXm_0APl6QYj7Q
//slb-swt.pkgs.visualstudio.com/_packaging/ng2-geotoolkit/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJlZDdmY2M5YS1jM2IwLTQ4OGUtYjI5Yy1iNjFkZDU1ZGIyOTQiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiYTkwYTExNzgtNWUzYi00YWM0LWEyYWEtMzIxZTEyMzAzNDAwIiwic2lkIjoiMzAzZjBhZDctYjkzYS00YTE0LWExNGYtNGE3ODg4NjQ3YjJhIiwiaXNzIjoiYXBwLnZzc3BzLnZpc3VhbHN0dWRpby5jb20iLCJhdWQiOiJhcHAudnNzcHMudmlzdWFsc3R1ZGlvLmNvbXx2c286NjBlYWU1ZjktM2U0ZC00YzhhLWE1NjAtODljNDYwZWZiNzMyIiwibmJmIjoxNTA1NzI3MTI1LCJleHAiOjE1MTM1MDMxMjR9.Skr0ShKoMGNWj6DlOOc8Doxbk2oa9I71NpKZVBu5jgnGHoMvGr6jKmYApZZBs0zLR53HUc-YozjddRRo6Y9xd7-t8zxaRHkQYji5CxWSkFZB9HAeGnVmGi5aoE1TMpcH6FBqQoplx-Ozc52uf0bk2sE-uMEAtxh4wcpZaWkJHC6H8Vw8opU4WvkQhbi_eSQzYQ5hWZdjaznFsxB7NeyyjvL96th3Sxz6MlBf2A8z732w0wXyjKtpuNNzYMoUZsJEHBO7Sbn41eufwN2CBhbMvvVZE2KdSP1jmt0s_0Y09ZlpiBakTiIe6CML0sL3M8n2h2txIjdLxXm_0APl6QYj7Q
; end auth token

@slb-is:registry=https://slb-swt.pkgs.visualstudio.com/_packaging/ng2-geotoolkit/npm/registry
@slbint:registry=https://slb-swt.pkgs.visualstudio.com/_packaging/ng2-geotoolkit/npm/registry
phantomjs_cdnurl=http://cn0005prism020.dir.slb.com:8081/artifactory/General/GitHub/phantomjs/
